[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
mypy = "*"


[requires]
python_version = "3.6"

[scripts]
mypy = "mypy pysss --ignore-missing-imports"
pytest = "python setup.py test --addopts --cov=pysss"
flake8 = "flake8 pysss"

